# Django
*.log
*.pot
*.pyc
__pycache__/
*.pyc
*.pyo
db.sqlite3
media/

# Virtual environment
env/

# IDE
.idea/
.vscode/

# Environment variables
.env
.env.local

# macOS
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
