# Modify .ebextensions/01_healthcheck.config
option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health/
  
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health/
    MatcherHTTPCode: 200
    HealthCheckTimeout: 5
    HealthCheckInterval: 15
    Port: 8000  # Match Gunicorn port
    Protocol: HTTP