files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          
          location /health/ {
              proxy_pass http://localhost:8000/health/;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
          }
          
          location / {
              proxy_pass http://localhost:8000;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
          }
      }

option_settings:
  aws:elasticbeanstalk:environment:process:default:
    Port: "8000"
    Protocol: HTTP
    HealthCheckPath: "/health/"