# .ebextensions/11_full_environment_config.config
option_settings:
  # Application and health check configuration
  aws:elasticbeanstalk:environment:process:default:
    Port: 8000
    Protocol: HTTP
    HealthCheckPath: /health/
    MatcherHTTPCode: 200
    
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health/
    
  # Load balancer configuration
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role
    
  # Load balancer listener configuration
  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: 20
    StickinessEnabled: false
    
  # Security configuration
  aws:autoscaling:launchconfiguration:
    SecurityGroups: '`{"Ref" : "AWSEBSecurityGroup"}`'
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    
  # VPC configuration
  aws:ec2:vpc:
    VPCId: vpc-0bf25e2f41a07abb8
    Subnets: subnet-05e1a118ac66b64da,subnet-062d683e9480c2eea
    ELBSubnets: subnet-0bfb63dea9c305070,subnet-062d683e9480c2eea
    
  # Instance configuration
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    
  # Auto scaling configuration
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2
    
  # Deployment configuration
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    BatchSize: 100
    BatchSizeType: Percentage
    
  # Proxy configuration
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
    
  # SSL/HTTPS configuration
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles